/* src/styles/HomeSection.css */

.home {
    text-align: center;
    padding: 250px 20px 50px; /* Adjusted for fixed Navbar and background image size */
    background: url('../images/Home/HomeBg.png') no-repeat center center;
    background-size: cover;
    color: white;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1px;
}
.content {
    position : relative;
    bottom: 120px;
}

.home h1 {
    font-size: 3.5em; /* Adjusted for better visibility */
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.home p {
    font-size: 1.3em;
    color: white;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.home button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.home button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
