.auth-container {
    background: url('https://t4.ftcdn.net/jpg/08/15/58/65/360_F_815586595_PJGF1V6kQBaUcNHgsx1dbnG7dAwIE2xY.jpg') no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 78vh;
    margin-top: 70px;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding:20px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: -200px;
}

input {
    width: 90%;
    padding: 11px 0px;
    margin-bottom: 15px;
    border: 1px solid #dddddde1;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-container img {
    width: 20px;
    height: 20px;
    left: 10px;
}

button {
    width: 40%;
} 

